/* CSS */

body {
    max-width: 700px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.7em;
    font-family: Cambria, "Microsoft Yahei", sans-serif;
    font-weight: 300;
    color: #333;
    overflow-content: break-word;
    text-align: justify;}

::selection {
    background: #fefecc;}
	
h1 {
	margin-top: 1em;
	font-size:170%;} 	
h2 {
	font-size:150%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	/*border-top:2px solid #e0e0e0;*/}	
h3 {
	margin:0.5em 0;}

hr {
	display: block;
    border: 0;
    border-top: 2px solid #e0e0e0;
	height: 1px;
	margin: 0; 	
	}
  
.content a {
      text-decoration: none;
      /*border-bottom: 1px solid;*/
      color: #666;
      transition: 0.5s;}
.content a:hover {
        color: #333;}
			
blockquote {
    position: relative;
    margin:1em 0!important;
    padding-left:2em!important;
    color:#666!important;font-style:italic;}
blockquote:before {
    position: absolute;
    font-size: 4em;
    line-height: 1;
    top: -16px;
    left: -0px;
    content: "\201C";
    color:#666!important;font-style:italic;}

pre {
  background: #f8f8f8;
  font-family: monospace, "Microsoft Yahei";
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-overflow-scrolling: touch;
  word-content: normal; }
pre code {
    padding: 0;
    margin: 0;
    border: 0; }
code {
  background: #f8f8f8;
  font-family: monospace, "Microsoft Yahei";
  padding: 2px 6px;
  margin: 0 3px;
  border: 1px solid #eee;
  border-radius: 5px; }

.content table {
	margin: 0px auto;}
.content table th {
	border-bottom:1px solid #bbb;
	padding:.2em 1em;}
.content table td {
	border-bottom:1px solid #ddd;
	padding:.2em 1em;}

figure.highlight {
	margin: 0;}

header {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; 
  /*color: rgba({{ site.text-color }},.5);*/
  background-color: #fff;
  /*border-bottom: 4px solid #cc0000;*/
  border-bottom: 4px solid #555;}
header tit { 
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;}  
header a.website-title {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  display: block;
  color: #333;
  background-image: none;
  text-decoration: none;
  /*color: #cc0000;*/}
header nav { 
  position: absolute;
  height: 40px;
  top: 0;
  right: 0;}
header nav a {
  /*font-size: 18px;*/
  display: block;
  text-align: center;
  background-image: none;
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  color: #333;
  /*color: #cc0000;*/
  font-weight: 600;
  display: inline-block;
  margin: 0 8px;
  padding: 6px 0;} 
/*header a:active {color:#10069f;}*/

footer {
  text-align: center;
  color: rgba({{ site.text-color }},1);
  /*border-top: 4px solid #cc0000;*/
  border-top: 4px solid #555;
  padding: 10px 0;
  box-sizing: border-box; }
footer a:hover {
  color: #333;
  border: 0; }
footer .inner {
  max-width:100%;}  
footer a {
  background-image: none;
  text-decoration: none;
  color: #666;}

div.cover-image-container img {
  max-width:100%;
  height:auto;
  margin: 0 auto;}
  
div.video {
  text-align: center;
  max-width:100%;}
  
.content .pagination {
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 45px;}
.content .pagination a {
  background-image: none;
  text-decoration: none;}
.content .pagination .disabled {
  color: rgba({{ site.text-color }},.4);}
.content .pagination .left {
  float: left;}
.content .pagination .right {
  float: right;}
  
.content p img {
  width: 120px;
  float: right;
  margin-top: -10px;
  margin-left: 10px;}
  
.content img {
	display: block;
	max-width:100%;
	margin: 0 auto;
	/*margin-bottom: 8px;*/}
	
div.figure {  
  text-align: center;
  color:#666;}
  
div.rightcolumn {
	float:right;
	width: 74%;}
div.leftcolumn {
	margin-top: 10px;
	float:left;
	width: 120px;}
div.mainpage {
	max-width: 95%;
	overflow:auto;
	margin: 0 auto;
	margin-top: -15px;}
div.rightcolumn2 {
	float:right;
	width: 70%;}
div.leftcolumn2 {
	float:left;
	width: 30%;
	text-align: center;}
div.mainpage2 {
	overflow:auto;
	margin-top: -18.224px;
	margin-bottom: 18.224px;}


@media (max-width: 620px) {
.content header {
  height: auto;
  display: block;
  padding: 5px;
}
.content header a.website-title {
  text-align: center;
  vertical-align: baseline;
}
.content header nav { 
  display: block;
  position: relative;
  height: auto;
}
.content header tit { 
  text-align: center;
  position: relative;
  height: 40px;
  top: 0;
  left: 0;
}
.content header nav a {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 5px 0; 
}
}

@media (max-width: 620px) {
div.rightcolumn{
  margin: 0 auto;
}
div.leftcolumn{
  margin: 0 auto;
  width: 120px;
}	
div.mainpage{
  overflow:auto;
}
div.rightcolumn2{
  margin: 0 auto;
}
div.leftcolumn2{
  margin: 0 auto;
}	
div.mainpage2{
  overflow:auto;
  margin-top: -18.224px;
  margin-bottom: 18.224px;
}
}
