<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
{% if page.title %}
{{ page.title }} • {{ site.name }}
{% else %}
{{ site.name }}
{% endif %}
</title>

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.baseurl }}/feed.xml">

<!-- icons -->
<link rel="icon" type="image/png" href="{{ site.baseurl }}/icon.png" sizes="90x90">
<!-- /icons -->

<!-- og tags -->
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} • {{ site.name }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:locale" content="{{ site.lang }}">
{% if page.og-image %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/{{ page.og-image }}">
{% else %}
  {% if page.cover-image %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/{{ page.cover-image }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/img/og-image.jpg">
  {% endif %}
{% endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<!-- /og tags -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/modernizr.js"></script>
<script src="{{ site.baseurl }}/js/fitvids.js"></script>

<link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:600,900|Crimson+Text:700italic,600,600italic,400,700,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

<!-- /Mathjax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
                  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
                  processEscapes: true}                  
});
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<!-- /Mathjax -->